body{

background:#0b0b0b;

color:white;

font-family:Arial;

margin:0;

}

.header{

display:flex;

justify-content:space-between;

padding:20px;

border-bottom:1px solid #222;

}

.header button{

background:#00c896;

border:none;

padding:10px 20px;

border-radius:8px;

color:white;

font-weight:bold;

}

#contenedorEntrenamiento{

padding:20px;

display:flex;

flex-direction:column;

gap:25px;

}

.ejercicioCard{

background:#141414;

padding:20px;

border-radius:12px;

}

.tabla{

width:100%;

border-collapse:collapse;

margin-top:10px;

}

.tabla th{

color:#aaa;

text-align:left;

font-size:14px;

padding-bottom:8px;

}

.tabla td{

padding:6px 0;

}

input{

background:#1f1f1f;

border:none;

color:white;

padding:6px;

border-radius:6px;

width:70px;

}

.agregarSerie{

margin-top:10px;

background:#1f1f1f;

border:none;

color:white;

padding:8px;

width:100%;

border-radius:8px;

}

.bottomNav{

position:fixed;

bottom:10px;

left:50%;

transform:translateX(-50%);

background:#111;

padding:12px 20px;

border-radius:30px;

display:flex;

gap:20px;

}

.bottomNav a{

color:white;

text-decoration:none;

font-size:14px;

}

@media (max-width:600px){

#contenedorEntrenamiento{

padding:15px;

}

}