body{
min-height:100vh;
display:flex;
flex-direction:column;
}

header{
text-align:center;
padding:20px;
font-size:20px;
}


main{
flex:1;
display:flex;
flex-direction:column;
align-items:center;
gap:30px;
padding:20px;
}


/* CONTENEDOR DIAS */

.contenedorRutina{
width:90%;
max-width:800px;
display:flex;
flex-direction:column;
gap:20px;
}


/* TARJETA DIA */

.dia{
background:rgba(255,255,255,0.07);
padding:20px;
border-radius:15px;
backdrop-filter:blur(10px);
box-shadow:0 8px 20px rgba(0,0,0,0.5);
display:flex;
flex-direction:column;
gap:15px;
}

.dia h3{
color:#EEEEEE;
}


/* EJERCICIO */

.ejercicio{
background:rgba(0, 0, 0, 0.87);
padding:10px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:5px;
margin-bottom: 10px;
}


/* BOTON AGREGAR EJERCICIO */

.addEjercicio{
    background:#363636;
    border:none;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    padding:8px;
    cursor:pointer;
    color:#fff;
    transition: .5s;
}

.addEjercicio:hover{
background:#252525;
}

.eliminarEjercicio{
    background:#ff3b3b;
    border:none;
    color:white;
    font-size:14px;
    padding: 5px;
    border-radius:6px;
    cursor:pointer;
    transition:0.5s;
    margin: auto;
    transition: 1s;
}

.eliminarEjercicio:hover{
    background:#d90000;
}



/* BOTON AÑADIR DIA */

.btnAgregarDia{
    background:#303030;
    border:none;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    padding: 20px;
    cursor:pointer;
    color:#fff;
    transition: .5s;
}

.btnAgregarDia:hover{
background:#1b1b1b;
}


/* ENTRENAMIENTO */

.entrenamiento{
display:flex;
gap:20px;
padding-bottom: 40px;
}

.btnStartDia{

background:#00c853;
border:none;
padding:5px 10px;
border-radius:20px;
color:white;
cursor:pointer;

}

.btnStop{

background:#d50000;
border:none;
padding:12px 20px;
border-radius:20px;
color:white;
cursor:pointer;

}

#volverEntreno{
    background:#00c853;
    border:none;
    padding:5px 10px;
    border-radius:20px;
    color:white;
    cursor:pointer;
    margin: 10px;
}

/* FOOTER */

footer{
position:fixed;
bottom:10px;
left:50%;
transform:translateX(-50%);
background:black;
padding:10px 25px;
border-radius:25px;
}

footer nav{
display:flex;
gap:20px;
}

footer a{
color:white;
text-decoration:none;
font-size:14px;
}

.headerDia{
display:flex;
align-items:center;
gap:10px;
}

.eliminarDia{
background:#ff3b3b;
border:none;
color:white;
font-size:14px;
padding: 5px;
border-radius:6px;
cursor:pointer;
transition:0.5s;
margin-left: auto;
}

.eliminarDia:hover{
background:#d90000;
}


/* RESPONSIVE */

@media(max-width:600px){

.dia{
padding:15px;
}

}